@import "tailwindcss";

@theme {
  --color-slate-blue: #64748b;
  --color-sand: #f5f5f4;
  --color-charcoal: #1e293b;
  --color-ocean: #0ea5e9;

  --font-serif: Merriweather, serif;
  --font-sans: Inter, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply bg-sand text-charcoal;
  }
}